<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="nrot.T590.Pdf.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <nrot.T590.Pdf.Settings>
            <setting name="PdfTemplateFileName" serializeAs="String">
                <value>Rechnungsformular_KM_d-v2.3.18.pdf</value>
            </setting>
            <setting name="CustomerRootDir" serializeAs="String">
                <value>C:\temp\nrot.T590\Kunden</value>
            </setting>
            <setting name="RsGlnNr" serializeAs="String">
                <value>*RsGlnNr*</value>
            </setting>
            <setting name="RsName" serializeAs="String">
                <value>Adelheid Schneiter</value>
            </setting>
            <setting name="RsEMail" serializeAs="String">
                <value>*RsEMail*</value>
            </setting>
            <setting name="RsTel" serializeAs="String">
                <value>*RsTel*</value>
            </setting>
            <setting name="RsZsrNr" serializeAs="String">
                <value>*RsZsrNr*</value>
            </setting>
            <setting name="RsStrasse" serializeAs="String">
                <value>Sonnenhofstrasse 6</value>
            </setting>
            <setting name="RsPlz" serializeAs="String">
                <value>9621</value>
            </setting>
            <setting name="RsOrt" serializeAs="String">
                <value>Oberhelfenschwil</value>
            </setting>
        </nrot.T590.Pdf.Settings>
    </applicationSettings>
</configuration>